workflows/ecommerce-lead-capture.json
{
  "name": "ecommerce-lead-capture",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "dc4882e9-3a1e-4ea8-9f83-52a42ebcd1a9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9634097e-bd4b-4629-8cf6-e260f4d7bc9c",
              "name": "=email",
              "value": "={{ $json.query.email || $json.body.email }}",
              "type": "string"
            },
            {
              "id": "2f2d4098-8aa5-484b-9d0a-e63e598fa06d",
              "name": "=name",
              "value": "={{ $json.query.name || $json.body.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "7a991ed4-8475-4471-a39a-1841e1078762",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "path": "e298418f-827a-464f-adf7-84386318b10d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "94e80d53-95ae-402d-8190-70ace9c8c329",
      "name": "Webhook",
      "webhookId": "e298418f-827a-464f-adf7-84386318b10d"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "92b695aa-193c-4c36-80a8-95d226d13b84",
  "meta": {
    "instanceId": "6e2c3a30c0ba6c21d3d22f1bf24f36d10eea68d2d7f9d1c8ce640611fe27e6fa"
  },
  "nodeGroups": [],
  "id": "6vGChFhNrUKlu4Rw",
  "tags": []
}